//
// MDC Theme
//

@import "@material/theme/color-palette";

$mdc-theme-primary: $material-color-blue-800;
$mdc-theme-secondary: $material-color-purple-900;

$mdc-theme-background: #000;
$mdc-theme-surface: #000;

$mdc-theme-error: $material-color-red-900;
